<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>services</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h2>services</h2>
      </navbar>
    </header>
    <section>
      <p>
        Our Services Money Transfer: Send money quickly and securely to friends,
        family, or business contacts. Our platform ensures fast processing and
        reliable delivery with minimal fees. Airtime Recharge: Instantly top up
        mobile airtime for all major networks. Whether for yourself or others,
        our recharge service is quick, easy, and always available. We are
        committed to delivering safe, convenient, and efficient services that
        meet your everyday financial needs
      </p>
    </section>
     <%- include('partials/footer') %>
  </body>
</html>
